<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Main Test Suite" parallel="tests" verbose="1"  thread-count="3">

    <test name = "Cucumber Tests" junit="true">
    

    <classes>
    <class name ="CucumberFramework2.Runners2.MainRunner2" />
    </classes>
</test>

  
  

 </suite> 